.component-wrapper {
    margin-top: 16px;
}

form {
    position: relative;
    background-color: #1f2937;
    padding: 1rem;
    border-radius: 0.5rem;
    height: 200px;
  }
  
  label {
    display: block;
    color: #fff;
    margin-bottom: 0.5rem;
  }
  
  input[type="text"] {
    padding: 0.5rem;
    border-radius: 0.5rem;
    border: 1px solid #D1D5DB;
    padding-right: 0px;
    margin-bottom: 1rem;
    width: 100%;
    font-size: 1rem;
  }
  
  input[type="text"]:focus {
    outline: none;
    border: 2px solid orange;
  }
  
  .submit-btn {
    position: absolute;
    right: 10px;
    background-color: orange;
    color: #fff;
    border: none;
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
  }
  
  .submit-btn:hover {
    background-color: #F97316;
  }
  