
table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    font-family: Arial, sans-serif;
    color: #fff;
    background-color: #1f2937;
  }
  
  th,
  td {
    padding: 0.75rem;
    text-align: left;
    border: 1px solid #4b5563;
    border-color: #4b5563;

  }
  
  th {
    background-color: #4b5563;
    font-weight: bold;
  }

  
  tbody tr:hover {
    background-color: #4a5568;
    cursor: pointer;
  }

.header-row {
    background-color: #4b5563;

}